<?php

return array(
    'session_doctrine' => array(
        'remember_me_seconds' => 2419200,
        'use_cookies'       => true,
        'cookie_httponly'   => true,
        'name'              => 'session_doctrine'
    ),
);